:root{

    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --blue: hsl(248, 32%, 49%);
   
    --darkBlue: hsl(249, 10%, 26%);
    --grayishBlue: hsl(246, 25%, 77%);
       
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
   }
   
   body{
       background-image: url('./bg-intro-desktop.png');
       background-color: var(--red)
   }
   
   .container{
       display:grid; 
       grid-template-columns: 1fr 1fr;
       align-items: center;
       margin-right:5rem;
       margin-left: 5rem;
       height: 100vh;
       column-gap: 5rem;
   }
   
   .presentation{
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       color: white;
   
   }
   
   .presentation h1{
       font-size: 3rem;
       line-height: 3rem;
   }
   .presentation p{
       font-size: 1rem;
       line-height: 1.2rem;
       color: #f4f4f4
   }
   
   .sign-form-container{
       display: flex;
       flex-direction: column;
       font-family: 'Poppins', sans-serif;
     
   }
   
   .sign-form-container .try-btn{
      font-family: 'Poppins', sans-serif;
      background: var(--blue) ;
      color:white;
      border: none;
      padding: 0.5rem;
      border-radius: 6px;
      margin-bottom: 1rem;
      margin-right: 0.2rem;
      margin-left: 0.2rem;
      font-weight: 400;
   }

   .try-btn span {
       font-weight: 600;
   }

   .try-btn:hover{
       cursor: pointer;
       border: 1px solid white;
   }
   
   .sign-form{
      background: white;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      padding: 1rem;
      align-items: center;
      padding-top:2rem;
    
      
   }
   .form-control{
       display: flex;
       flex-direction:column;
       margin-bottom:1rem;
       width:90%;
   }
   .sign-form input{
       font-family: 'Poppins', sans-serif;
       height: 2rem;
       border: 0.5px solid #ccc;
       border-radius: 5px;
       padding-right: 1rem;
       padding-left: 1rem;
       padding-top: 0.5rem;
       padding-bottom: 0.5rem;
       font-weight:600;
       
   }
   
   input.input-error{
       border: 0.5px solid var(--red)
   }
   .sign-form .error{
       display:block;
       color: var(--red);
       font-size: 0.6rem;
       font-weight: 600;
       font-style:italic;
       text-align: right;
       margin-top: 0.2rem;
   }
   
   
   .sign-form button {
       font-family: 'Poppins', sans-serif;
       background-color: var(--green);
       border: none;
       color :white;
       text-transform: uppercase;
       padding : 1rem;
       border-radius: 5px;
       width:90%;
   }
   .sign-form .bottom{
       font-size: 0.6rem;
       color: #c4c4c4;
       font-weight: 600;
       margin-top: 1rem;
       text-align: center;
   }
   
   .sign-form .terms{
       color:var(--red)
   }
   
   @media (max-width: 600px) {
       :root{
           font-size: 12px;
           box-sizing: border-box;
           font-family: 'Poppins', sans-serif;
          }
       .container{
           display:grid; 
           grid-template-columns: auto;
           justify-content: center;
           margin-right:0;
           margin-left: 0;
           height: 100%;
           column-gap: 5rem;
       }
       .presentation{
           margin-bottom: 2rem;
       }
       .presentation p {
           text-align: center;
           line-height: 1.5rem;
       }
       .try-btn{
           height: 5rem;
           margin-bottom: 2rem;
         
       }
   }